<div>
    <h2>Create New Account:</h2>
    {{!-- signup form --}}
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup"/>
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup"/>
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup"/>
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </form>
</div>

<!-- signup logic from sign up js front end script -->
<script src="/public/js/signup.js"></script>